:root {
    --primary-color: #4CAF50;
    --secondary-color: #FFC107;
    --background-color: #f7e3b2;
    --font-color: #333;
    --font-family: 'Roboto', sans-serif;
  }
  
  body {
    font-family: var(--font-family);
    color: var(--font-color);
    background-color: var(--background-color);
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
